.div{
    height: 800px;
    width:2112px;
    position: static;
    user-select:none
}
.upPhoto{
    left: 0;
    top: 0;
    height: 800px;
    width:2112px;
    position: relative;
    float:right;
    overflow: hidden;
    z-index: 200;
    user-select:none
}
.downPhoto{
    left: 0;
    top: -800px;
    height: 800px;
    width:2112px;
    position: relative;
    float:left;
    overflow: hidden;
    z-index: 10;
    user-select:none
}
#marker{
    height: 800px;
    width: 40px;
    position: relative;
    left: -10px;
    z-index: 300;
    background-color: rgba(135,206,250,0.3);
}
#upPhoto{
    height: 800px;
    width:2112px;
    float:right;
    z-index: 200;
    user-select:none
}
#downPhoto{
    height: 800px;
    width:2112px;
    float:left;
    z-index: 10;
    user-select:none
}

h1{
    margin-top: 0;
    margin-left: 0;
    font-size: 200%;
    font-weight: 600;
    font-style: oblique;
    color: #101115;
    margin-bottom: 18px;
}
#forAbout{
    text-align: center;
    padding: 0;
    font-size: 150%;
    font-weight: 500;
}